<launch>
    <param name="use_sim_time" value="true" />
    <arg name="rviz" default="true" />
    <arg name="autorun" default="false"/>
    <!-- <include file="$(find flivis)/launch/mapping_icuas.launch"/> -->
    <!-- <node pkg="airo_detection" type="twoD_fruit_detector.py" name="twoDFruitDtector"/> -->
    <node pkg="airo_detection" type="sensor_fusor.py" name="sensor_fusor" output="screen"/>
    <!-- <node pkg="your_package" type="your_script.py" name="your_node_name" output="screen">
    </node> -->
    <arg name="bag_file" default="/home/allen/icuas24_ws_mini/icuas_final_bags/ICUAS_bag_1.bag"/>
    <!-- <arg name="bag_file" default="/home/kin/bags/ntu_viral/eee_01/eee_01.bag" /> -->
    <node pkg="rosbag" required="$(arg autorun)" type="play" name="bag_play" args="$(arg bag_file) -r 0.50 --clock"/>

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find airo_detection)/rviz_cfg/airo_fusion.rviz" />
    </group>
</launch>
